
body{
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.center{
  width: 70vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 25px 0;
}

.left{
  width: 26%;
  height: 100vh;
  margin: 0 0;
  border-right: 1px solid #767676;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
    padding: 0 20px;
}


.right {
      width: 60%;
      height: auto;
      color: #ddd;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 40px;
    }

main{
  width: auto;
  height: auto;
  margin: 0 auto;

}

header{
  height: 10vh;
  position: relative;
  float: right;
}

main{
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

p, h5{
  color: #777;
}

h3{
  color: #bbb;
}

ul{
  margin: 0px;
  position: relative;
  padding: 0px;
}

li{
  list-style: none;
  position: relative;
}

img{
  float: left;
  margin-left: 10%;
}

/*.navipunkt{
  text-align: left;
  float: left;
  line-height: 35px;
  margin-left: 31.3%;
}

li.navipunkt{
  margin-bottom: 20px;
  width: 150px;
  text-align: left;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 100;
  background-color: #232122;
}*/

.untermenu ul{
  float: right;
  text-align: right;
  position: relative;
  z-index: 1;
  margin-top: 0px;
}

.untermenu li{
  display: inline-block;
  border-radius: 80px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  margin-left: 15px;
  margin-top: 0px;
  font-size: 0.8rem;
  overflow: hidden;
  width: 100px;
  text-align: center;
}

.login{
  display: inline-block;
  border-radius: 80px;
  padding: 10px 25px 10px 25px;
  color: #fff;
  margin-left: 15px;
  margin-top: 0px;
  font-size: 0.8rem;
  overflow: hidden;
  width: 120px;
  text-align: center;
}


li.register{
  border: 1px solid #20d19c;
  background-color: #1a1919;
}

a{
  text-decoration: none;
  color: #767676;
  font-weight: 500;
  letter-spacing: 1.3px;
}

a:hover{
  color: rgb(170, 200, 200);
}

.navipunkt a:hover{
  color: #20d19c;
}


.login a{
  color: #fff;
  font-size: 0.8rem;
}

.register a{
  color: #20d19c;
}

.login a:hover{
  color: #fff;
}

.register a:hover{
  color: #fff;
}





.formular{
  margin-top: 80px;
  position: relative;
  background-color: #0f0e0e;
  width: 80%;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

label{
  color: #fff;
  font-size: .9rem;
  font-weight: 100;
  margin-top: 58px;
}

input{
  border-radius: 10px;
  border: none;
  background-color: #433e40;
  margin: 15px 0px;
  width: 90%;
  color: #fff;
  padding: 10px;
}

input:active{
  border: none;
}

.ideeInput{
  height: 30px;
}

.beschreibungInput{
  height: 100px;
  border-radius: 10px;
  border: none;
  background-color: #433e40;
  margin: 15px 0px;
  width: 90%;
  color: #fff;
    padding: 10px;
}

button{
  padding: 10px 29px;
  border-radius: 80px;
  background-color: #20d19c;
  border: 1px solid #20d19c;
  color: #fff;
  margin-bottom: 15px;
  letter-spacing: 1.3px;
}

.request{
  border-bottom: 1px solid #222;
  padding: 15px 0px;
}

button #upvote{
  border-radius: 150px;
  padding: 80px;
  background-color: #fefefe;
  float: right;
}

h3{
  font-size: 1rem;
  letter-spacing: 1.1px;
  font-weight: 600;
}

p{
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 24px;
}

/*Button Verlauf*/
.mouse-cursor-gradient-tracking {
position: relative;
background: #20d19c;
padding: 0.5rem 1rem;
font-size: 1.2rem;
border: none;
color: white;
cursor: pointer;
outline: none;
overflow: hidden;
margin-top: 15px;
}

.mouse-cursor-gradient-tracking span {
position: relative;
margin-top: 15px;
}

.mouse-cursor-gradient-tracking::before {
--size: 0;
content: '';
position: absolute;
left: var(--x);
top: var(--y);
width: var(--size);
height: var(--size);
background: radial-gradient(circle closest-side, #bbffe0, transparent);
transform: translate(-50%, -50%);
transition: width 0.2s ease, height 0.2s ease;
margin-top: 50px;
}

.mouse-cursor-gradient-tracking:hover::before {
--size: 200px;
margin-top: 50px;
}

@media (max-width:60em) {
  .center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }

}
